venv
.env
venv/
.env/
env/
www
db.sqlite3
__pycache__/
*.pyc
.DS_Store
.idea/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
node_modules/
node_modules
mobile_app/node_modules/
mobile_app/.expo/
mobile_app/dist/